<%- include("partials/header"); -%>

<img src="cloudy.png" class="description">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>It is partly cloudy.</p>
</div>


<%- include("partials/footer"); -%>
