<%- include("partials/header"); -%>

<img src="few-clouds.png" class="description">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>There are a few clouds.</p>
</div>


<%- include("partials/footer"); -%>
