<%- include("partials/header"); -%>

<img src="thunderstorm.jpg" class="background-img">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>There are rain showers.</p>
</div>


<%- include("partials/footer"); -%>
