<%- include("partials/header"); -%>

<img src="rain.jpg" class="description">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>It is raining.</p>
</div>

<%- include("partials/footer"); -%>
