<%- include("partials/header"); -%>

<img src="clear-sky.png" class = "clearsky">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>The sky is clear.</p>
</div>

<%- include("partials/footer"); -%>
